<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>        
        .fade-in {
            opacity: 0;
            transform: translateY(40px);
            transition: opacity 0.6s ease-out, transform 0.6s ease-out;
        }
        .fade-in.visible {
            opacity: 1;
            transform: translateY(0);
        }

        .custom-background{
            background-color: rgb(248, 248, 248) !important;
        }
        .dark-mode .search-button{
            background-color: #222 !important;
            color: #ddd;
            border: none;
        }
        .search-open{
            background-color: white;
        }
        .dark-mode .search-open{
            background-color: #222 !important;
            color: white !important;
        }
        @media (max-width: 991px) {
            .custom-top {
                top: 9px;
            }
        }
    </style>
</head>
<body>
    <div id="scrollProgress"></div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <button class="btn btn-light d-lg-none search-button" data-bs-toggle="collapse" data-bs-target="#mobileSearch" style="margin-left: 10px;">
                <i class="bi bi-search"></i>
            </button>
            
            {% if user.is_authenticated %}
                <a class="navbar-brand" href="/">ServiceSphere</a>
            {% else %}
                <a class="navbar-brand custom-top" href="/">ServiceSphere</a>
            {% endif %}
                
            <div class="d-flex align-items-center ms-auto d-lg-none">
                <i class="bi bi-moon dark-mode-toggle me-2" style="cursor:pointer;"></i>
                {% if request.user.is_authenticated  %}
                    <div class="dropdown">
                        <button class="btn dropdown-toggle profile-dropdown" type="button" data-bs-toggle="dropdown">
                            {% if request.user.user_profile and request.user.user_profile.profile_photo %}
                                <img src="{{request.user.user_profile.profile_photo.url}}" class="profile-img" alt="Profile">
                            {% else %}
                                <img src="{% static 'img/profile.png' %}" class="profile-img" alt="Profile">
                            {% endif %}
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                {% if notification_count %}
                                <a class="dropdown-item mb-2" href="{% url 'profile' %}""><i class="bi bi-person-circle me-2"></i> Profile</a>
                                {% else %}
                                <a class="dropdown-item" href="{% url 'profile' %}"><i class="bi bi-person-circle me-2"></i> Profile</a>
                                {% endif %}
                            </li>
                            <li>
                                {% if notification_count %}
                                <a href="{% url 'notification' %}" class="dropdown-item notification-btn position-relative d-flex align-items-center text-decoration-none" style="cursor: pointer;">
                                    <div class="position-relative">
                                        <i class="bi bi-bell fs-5"></i>
                                        
                                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                                {{ notification_count|default:0 }}
                                            </span>  
                                    </div>
                                    <span class="ms-2">Notifications</span>
                                </a>
                                {% else %}
                                    <a href="{% url 'notification' %}" class="dropdown-item notification-btn position-relative d-flex align-items-center text-decoration-none" style="cursor: pointer;">
                                        <i class="bi bi-bell fs-5"></i>
                                        <span class="ms-2">Notifications</span>
                                    </a>
                                {% endif %}
                            </li>
                            <li><a class="dropdown-item" href="{% url 'settings' %}"><i class="bi bi-gear me-2"></i> Settings</a></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="bi bi-box-arrow-right me-2"></i> Logout</a></li>
                        </ul>
                        
                    </div>  
                {% else %}
                    <a href="{% url 'login' %}" class="text-decoration-none text-dark-mode ms-2">
                        <i class="bi bi-box-arrow-in-right"></i> Login
                    </a> 
                {% endif %}
                              
            </div>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-3 me-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link d-flex align-items-center" href="/" role="button">
                            Home
                        </a>                        
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center" href="{% url 'all_services' %}" role="button">
                            All Services
                        </a>                        
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center" href="{% url 'my_booked_services' %}" role="button">
                            Booked Services
                        </a>                        
                    </li>
                    
                    {% if request.user.is_authenticated and request.user.user_profile.role == "service_provider" %}
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center" href="{% url 'my-services' %}" role="button">
                                Offered Services
                            </a>                        
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center" href="{% url 'booking_list' %}" role="button">
                                Received Bookings
                            </a>                        
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center" href="{% url 'dashboard' %}" role="button">
                                Dashboard
                            </a>                        
                        </li>
                    {% endif %}
                </ul>
                <div class="search-container d-none d-lg-flex me-3">
                    <form method="GET" action="{% url 'global_search' %}" class="w-100 position-relative">
                        <input class="form-control search-bar dark-input pe-5" type="search" name="q" placeholder="Search..." aria-label="Search" required>
                        <button type="submit" class="btn position-absolute top-50 end-0 translate-middle-y me-2 p-0 border-0">
                            <i class="bi bi-search search-icon"></i>
                        </button>
                    </form>
                </div>
                
            </div>

            <div class="d-none d-lg-flex align-items-center">
                <i class="bi bi-moon dark-mode-toggle me-1" style="cursor:pointer;"></i>
                <a href="{% url 'notification' %}" class="icon-btn notification-btn position-relative" style="cursor:pointer;">
                    <i class="bi bi-bell"></i>
                    {% if notification_count %}
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            {{ notification_count|default:0 }}
                        </span>
                    {% endif %}            
                </a>
                
                {% if request.user.is_authenticated  %}
                    <div class="dropdown">
                        <button class="btn dropdown-toggle profile-dropdown" type="button" data-bs-toggle="dropdown">
                            {% if request.user.user_profile and request.user.user_profile.profile_photo %}
                                <img src="{{request.user.user_profile.profile_photo.url}}" class="profile-img" alt="Profile">
                            {% else %}
                                <img src="{% static 'img/profile.png' %}" class="profile-img" alt="Profile">
                            {% endif %}
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="{% url 'profile' %}"><i class="bi bi-person-circle me-2"></i> Profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'settings' %}"><i class="bi bi-gear me-2"></i> Settings</a></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="bi bi-box-arrow-right me-2"></i> Logout</a></li>
                        </ul>
                    </div>
                {% else %}
                    <a href="{% url 'login' %}" class="text-decoration-none text-dark-mode">
                        <i class="bi bi-box-arrow-in-right"></i> Login
                    </a>
                          
                {% endif %}
                
            </div>
        </div>
    </nav>

    
    {% if user.is_authenticated %}
        <div class="collapse position-fixed border-0 start-0 w-100 search-open" id="mobileSearch" style="top: 81px; z-index: 1000;">
            <div class="d-flex justify-content-center p-2 position-relative">
                <div class="search-container" style="width: 80%; max-width: 400px;">
                    <form method="GET" action="{% url 'global_search' %}" class="position-relative">
                        <input class="form-control search-bar dark-input pe-5" type="search" name="q" placeholder="Search..." aria-label="Search" required>
                        <button type="submit" class="btn position-absolute top-50 end-0 translate-middle-y me-3 p-0 border-0 text-dark-mode">
                            <i class="bi bi-search"></i>
                        </button>
                    </form>
                </div>
                <button class="btn position-absolute end-0 me-3 text-dark-mode" data-bs-toggle="collapse" data-bs-target="#mobileSearch">
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>
        </div>
    {% else %}
        <div class="collapse position-fixed border-0 start-0 w-100 search-open" id="mobileSearch" style="top: 69px; z-index: 1000;">
            <div class="d-flex justify-content-center p-2 position-relative">
                <div class="search-container" style="width: 80%; max-width: 400px;">
                    <form method="GET" action="{% url 'global_search' %}" class="position-relative">
                        <input class="form-control search-bar dark-input pe-5" type="search" name="q" placeholder="Search..." aria-label="Search" required>
                        <button type="submit" class="btn position-absolute top-50 end-0 translate-middle-y me-3 p-0 border-0 text-dark-mode">
                            <i class="bi bi-search"></i>
                        </button>
                    </form>
                </div>
                <button class="btn position-absolute end-0 me-3 text-dark-mode" data-bs-toggle="collapse" data-bs-target="#mobileSearch">
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>
        </div>
    {% endif %}
        

    <div>
        {% block hero %}
        {% endblock %}
    </div>

    <div>
        {% block benefits %}
        {% endblock %}
    </div>

    <div>
        {% block featured %}
        {% endblock %}
    </div>
    <div>
        {% block steps %}
        {% endblock %}
    </div>

    <div class="content my-4">
        {% block content %}
        {% endblock %}
    </div>
    {% block banner %}
    {% endblock banner %}
    <button id="backToTop" class="btn btn-primary">
        <i class="bi bi-chevron-up"></i>
    </button>
    

    {% include 'footer.html' %}

    <script>
        const toggleDarkMode = (enabled) => {
            document.body.classList.toggle('dark-mode', enabled);
            localStorage.setItem('dark-mode', enabled ? 'enabled' : 'disabled');
            updateDarkModeIcon(enabled);
        };

        const updateDarkModeIcon = (isDarkMode) => {
            document.querySelectorAll('.dark-mode-toggle').forEach(icon => {
                icon.classList.toggle('bi-moon', !isDarkMode);
                icon.classList.toggle('bi-sun', isDarkMode);
            });
        };

        const isDarkMode = localStorage.getItem('dark-mode') === 'enabled';
        toggleDarkMode(isDarkMode);

        document.querySelectorAll('.dark-mode-toggle').forEach(icon => {
            icon.addEventListener('click', () => {
                toggleDarkMode(!document.body.classList.contains('dark-mode'));
            });
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let backToTopBtn = document.getElementById("backToTop");
    
            window.addEventListener("scroll", function () {
                if (window.scrollY > 200) {
                    backToTopBtn.style.display = "flex"; 
                    backToTopBtn.classList.add("show");
                } else {
                    backToTopBtn.classList.remove("show");
                    setTimeout(() => {
                        backToTopBtn.style.display = "none";
                    }, 300);
                }
            });
    
            backToTopBtn.addEventListener("click", function () {
                window.scrollTo({
                    top: 0,
                    behavior: "smooth"
                });
            });
        });
    </script>
    <script>
        window.addEventListener("scroll", function() {
            let scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
            let scrollHeight = document.documentElement.scrollHeight - document.documentElement.clientHeight;
            let scrollPercentage = (scrollTop / scrollHeight) * 100;
            document.getElementById("scrollProgress").style.width = scrollPercentage + "%";
        });
        
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const observer = new IntersectionObserver(entries => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        entry.target.classList.add("visible"); 
                    } else {
                        entry.target.classList.remove("visible"); 
                    }
                });
            }, { threshold: 0.2 });
    
            document.querySelectorAll(".fade-in").forEach(element => {
                observer.observe(element);
            });
        });
    </script>
    
</body>
</html>